<!DOCTYPE html>
<style>
	body {
		-webkit-animation: colorchange 60s infinite;
		animation: colorchange 60s infinite;
	}
	@-webkit-keyframes colorchange {
		0% {background: #ffffb3;}
		25% {background: #ffe6e6;}
		75% {background: #ffb3ff;}
		100% {background: #cce6ff;}
	}
	@keyframes colorchange {
		0% {background: #ffffb3;}
		25% {background: #ffe6e6;}
		75% {background: #ffb3ff;}
		100% {background: #cce6ff;}
	}

	.gap-30{
		width:100%;
		height:30px;
	}
	.right{
		text-align:right;
	}

</style>

<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>